{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Articles</h1>

    <table class="table">
        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>
                    <a href="{{ path('post_show', { 'id': article.id }) }}"><h2>{{ article.title }}</h2></a>
                    {{ article.content }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a class="button" href="{{ path('post_new') }}">Create a new acticle</a>

{% endblock %}
